<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Creatures Index</title>
</head>
<body>
  <br><br>
  <div class='container'>

    <%= link_to 'Create new', new_creature_path, class: "btn btn-primary" %>
    <br>
    <table class='table table-striped'>
      <caption><h3>Creatures</h3></caption>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th class='glyph'>Info</th>
        <th class='glyph'>Edit</th>
        <th class='glyph'>Delete</th>
      </tr>
      <% @creatures.each do |creature| %>
        <tr>
          <td> <%= creature.name %> </li> </td>
          <td> <%= creature.description %> </td>
          <td class='glyph'> <%= link_to show_creature_path(creature) do %>
                 <span class='glyphicon glyphicon-info-sign'></span>
               <% end %> </td>
          <td class='glyph'> <%= link_to edit_creature_path(creature) do %>
                 <span class='glyphicon glyphicon-pencil'></span>
               <% end %> </td>
          <td class='glyph'> <%= link_to delete_creature_path(creature),
                                              { method: :delete,
                                                data: { confirm: 'Are you sure?' }
                                              } do %>
                 <span class='glyphicon glyphicon-remove-circle'></span>
               <% end %> </td>
        </tr>
      <% end %>
    </table>

  </div>
</body>
</html>
